.nav .nav-link {
  color: rgb(175, 175, 175);
}

.container.body {
  margin-top: 3%;
}

.footer {
  margin-top: 3%;
  border-top: 1px solid #AAA;
  padding: 0.5%;
  width: 95% !important;
}

ul.nostyle {
  list-style-type: none;
}

*[data-toggle="tooltip"] {
  cursor: pointer;
}

@media (min-width: 768px) {
  .container.body {
    width: 50%;
  }

  form.restrict-width {
    width: 40%;
  }
}

/* Custom Colors */
.bg-purple {
  background-color: var(--purple);
}