<head>
    <link rel="stylesheet" href="../public/bootstrap-4.0.0/css/bootstrap-themed.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="https://cdn.discordapp.com/attachments/275170046555324416/348665349576720384/diamondfirelogo.png">
    <title>VerifyBot Dashboard | mcdiamondfire.com</title>
</head>