<!DOCTYPE html>
<html>
    <%- include("blocks/head.ejs") %>
    <body>
        <nav class="navbar navbar-expand-md navbar-light bg-none">
            <a class="navbar-brand" href="staff.html"><span class="fa fa-lock"></span> Staff Panel</a>
          </nav>
        
          <div class="container mt-3">
              <div class="alert alert-danger alert-dismissable fade show" role="alert">
                Authentication error. <a href="/logout" class="btn btn-outline-danger">Try again</a>
                <button class="close d-none d-md-block" data-dismiss="alert">
                    <span aria-hidden="true">&times;</span>
                </button>
              </div>
          </div>
        
          <%- include("blocks/footer.ejs") %>
    </body>
</html>